<div class="flex flex-col w-full sm:w-[36.5rem]">
  <%= render "users/header_profile", object: @user %>
  <div class="w-full p-3 border-b-2">
    <h2 class="heading-4">Followers</h2>
  </div>
  <div class="flex flex-col mt-2 gap-2 mx-auto items-start sm:w-[37.5rem] w-full overflow-auto">
    <% @followers.each do |user| %>
        <%= render "users/users_list", user: %>
    <% end %>
  </div>
</div>
