<%= turbo_frame_tag "new-tweet-modal" do %>
<div class="w-screen h-screen absolute flex bg-black/20 z-10">
  <div class="mx-auto sm:mt-6 w-full h-full sm:w-[37.5rem] sm:h-[17rem] bg-white sm:rounded-3xl shadow-lg">
    <div class="flex justify-between w-full h-[3.33rem] items-center px-4">
      <div class="w-5 y-5">
        <%= link_to image_tag("close_icon", class: "w-3.5 h-3.5"), "", data: {
          turbo_frame: "_top",
          controler: "modals",
          action: "modals#close"
        } %>
      </div>
    </div>

    <%= render "tweets/new_tweet" %>
  </div>
</div>
<% end %>
