
<div class="flex flex-row justify-center w-full h-screen ">
  <%= render "users/sidemenu", object: @user %>

  <div class="flex flex-col items-start sm:w-[37.5rem] w-full overflow-auto">
    <%= render "users/header_profile", object: @user %>
    <%= render "tweets/tweet_card", object: @user, tweet: @tweet %>
  </div>

  <div class="flex-col lg:block hidden shrink-0 w-[22rem] ml-7 bg-red-50">
    <%# sidecolumn %>
  </div>
</div>
