<div class="flex flex-row w-[37.5rem] sticky top-0 bg-white/90">
  <%= link_to image_tag("back_arrow_icon", class: "p-1 m-3.5 mr-6 inline-block"), "" %>
  <div class=" flex-col mt-1.5 inline-block">
    <h2 class="heading-4 font-bold"><%= @user.name %></h2>
    <p class="text-sm text-dark-400"><%= pluralize(@user.tweets_count, "tweet", "tweets") %></p>
  </div>
</div>
