<div class="hidden xl:block w-[17.2rem]  ml-8 pt-2 gap-4 flex-col">

  

  <div>
    <h1 class="heading-2">You might like</h1>
  </div>

  <div>
    <h1 class="heading-2">What's happening</h1>
  </div>

  <div>
    <p>Terms of Service Privacy Policy Cookie Policy Ads info More © 2021 Twitter, Inc.</p>
  </div>
</div>
