<div class="flex flex-col w-full sm:w-[36.5rem]">
  <%= render "users/header_profile", user: @user %>
  <div class="w-full p-3 border-b-2">
    <h2 class="heading-4">Following</h2>
  </div>
  <div class="flex flex-col mt-2 gap-2 mx-auto items-start sm:w-[37.5rem] w-full overflow-auto">
    <% @following.each do |user| %>
      <%= turbo_frame_tag "user_#{user.id}", class: "w-full" do %>
        <%= render "users/users_list", user:, followed: user.following? %>
      <% end %>
    <% end %>
  </div>
</div>
